.container {
  margin-left: 8rem;
  margin-right: 8rem;
  margin-top: 1rem;
}
.pet-logo {
  display: flex;
  margin-left: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-link {
  color: var( --lumo-primary-color);
  cursor: pointer;
}
